.Menu {
  text-align: center;
  background-color: #f4f873;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  }
  .Contents {
  display: flex;
  align-items: center;
  }
  .Image {
  width: 150px;
  float: left;
  margin-right: 20px;
  }
  .Para1 {
  margin-left: auto;
  }
  .App {
  width: 1000px;
  margin: auto;
  }